<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="model" />
        <input type="text" v-model="model" />
        <div v-bind="model"></div>
        <div v-bind="model"></div>
        <div v-bind="model"></div>
        <div v-bind="model"></div>
        <div v-bind="model"></div>
        <div v-bind="model"></div>
        <div>
            <div>
                <div>
                    <div v-bind="model"></div>
                    <div>{{model}}</div>
                </div>
            </div>
        </div>
        <div>{{model}}</div>
        <div>{{model}}</div>
        <input type="text" v-model="model1" />
        <div>{{model1}}</div>
    </div>
    <script src="index.js"></script>
    <script>
        let data = {
            model: 1,
            model1: 2
        };

        new DataBinding({
            el: "#app",
            data
        });
    </script>
</body>

</html>