div {
    box-sizing: border-box;
}

.clock-container {
    position: relative;
    width: 420px;
    height: 420px;
    margin: 50px auto;
    border: 15px solid #373f4a;
    border-radius: 50%;
    background-color: #262c33;
}

.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 160px);
    width: 8px;
    height: 160px;
    transform-origin: center bottom !important;
    animation: tick-tock-minute 3600s linear infinite;
    background-color: #fff;
    z-index: 10;
}

.hour-hand::after, 
.minute-hand::after {
    content: "";
    position: absolute;
    left: 0;
    top: -13px;
    width: 0;
    height: 0;
    margin: auto;
    border: 4px solid transparent;
    border-bottom-color: #fff;
    border-bottom-width: 10px;
}

.hour-hand {
    height: 120px;
    top: calc(50% - 120px);
    animation-duration: 93600s;
    animation-name: tick-tock-hour;
}

.second-hand {
    top: 10px;
    left: calc(50% - 2px);
    width: 4px;
    height: 240px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform-origin: 2px 185px !important;
    animation-duration: 60s;
    animation-name: tick-tock-second;
    animation-timing-function: steps(60, end);
    background-color: #f16b41;
}

.clock-container .second-hand:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 47px;
    left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: inherit;
}

.per-hour,
.per-second {
    position: absolute;
    top: 0;
    left: calc(50% - 4px);
    width: 8px;
    height: 20px;
    transform-origin: center 195px !important;
    background-color: #fff;
}

.per-second {
    left: calc(50% - 2px);
    width: 4px;
    height: 10px;
}